includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - ./pricee
  excludePaths:
    - ./pricee/vendor

  reportUnmatchedIgnoredErrors: false
  level: 5
